body {
    margin:0;
    font-family: Roboto, sans-serif;
}

/* FIRST SECTION */


header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1f2937;
    margin-bottom: 0;
}

.logo {
   font-size: 24;
   color:#f9faf8;
   font-weight: 700;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #d0d5da;
    padding: 10px 10px;
}




/* NEXT SECTION */



.hero-section {
    padding-top:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #1f2937;
}

.hero-text {
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
}

.hero-text-right {
   
    max-width: 800px;
} 

.hero-subtext {
    padding: 10px;
}


.hero-image {
    margin-right: 100px;
    padding: 150px;
    width: 700px;
    height: 100;
}

.hero-btn {
    max-height: 40px;
    font-size:15px;
    padding:3px 25px;
    background-color:rgb(26, 133, 220) ;
    color:white;
    border-radius: 10px;
}
/* NEXT SECTION */


.boxes {
    display: flex;
    flex-direction: column;
}
.box {
    border-radius: 10%;
    width: 150px;
    height: 180px;
    border: solid 4px rgb(10, 108, 246);
     width: 100px;
  height: 100px;

}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    padding: 10px 15px;
}

.images-info {
    padding: 20px;
    margin-bottom: 60px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.boxes {
    display: flex;
    flex-direction: row;
    gap:35px;
}



.column-text {
    overflow-wrap: normal;
    text-align: center;
}

h2 {
    font-size: 35px;
}



/* NEXT SECTION */



.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#e5e7eb;
    padding: 100px;
    margin: 0;
   

}

.quote-text {
    font-size: 36px;
    font-style: light italic;
    overflow-wrap:normal;
    max-width: 1000px;
}

.author {
    font-weight: 600;
    padding-left: 600px;
}



/* NEXT SECTION */



.action-container {
    
    background-color: rgb(34, 122, 230);
    padding: 40px 150px;
   margin: 60px 20px;
   border-radius: 10px;
   display: flex;
justify-content: space-between;
justify-items: center;

}

.action-btn {
    max-height: 40px;
    font-size:20px;
    padding:1px 25px;
    background-color:rgb(34, 122, 230) ;
    color:white;
    border:solid 2px white;
    border-radius: 10px;
}

.action-title, 
.action-subtext {
    color: aliceblue;
}

.action-title {
    font-weight: 700;
}

/* NEXT SECTION */

.footer-text {
    margin-top: 150px;
    padding: 40px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    color:#f9faf8;
}